<body data-gr-c-s-loaded="true">
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <% include ../partials/_header %>
    <!-- partial -->
    
    <div class="container-fluid page-body-wrapper">
      <main class="main-pannel">
        <div class="row">
          <% if (data.success == true) {%>
            <% for(var obj of data.urls) { %>
              <div class="col-md-2 mb-3 <%= obj.type %>" 
                onclick="goReport(<%= obj.id %>)">
                <div class="card text-white card-webinar">
                    <img class="card-img-top" src="assets/images/webinar.jpg" alt="">
                    <div class="card-body p-1">
                        <h6 class="text-center font-weight-bold">
                            <%= obj.name %>
                        </h6>
                    </div>
                </div>
              </div>
            <% } %>
          <% } else { %>
          <% } %>
        </div>
      <!-- partial:../../partials/_footer.html -->
      <% include ../partials/_footer %>
      <!-- partial -->
      </main>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <% include ../partials/_scripts %>

</body>
