<body data-gr-c-s-loaded="true">
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <% include ../partials/_header %>
    <!-- partial -->
    
    <div class="container-fluid page-body-wrapper">
      <main class="main-pannel">
        <div class="row">
          Hello world
        </div>
      <!-- partial:../../partials/_footer.html -->
      <% include ../partials/_footer %>
      <!-- partial -->
      </main>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <% include ../partials/_scripts %>

</body>
